table.content-table
  width: 100%

  tbody tr
    &:hover td
      background-color: #fffeef

  th
    text-align: left
    height: $header-height / 2

  td
    height: $header-height
    text-align: left

  th, td
    font-size: 16px
    padding: 0 $gutter / 2
    vertical-align: middle
    border-bottom: 1px solid #ddd
    background: white
    &:first-child
      padding-left: $gutter
    &:last-child
      padding-right: $gutter

    .label
      position: relative
      top: -1px
      font-weight: bold
      font-size: 16px
      line-height: 24px

    .details
      font-size: 14px
      color: #888

      span
        &:after
          content: "•"
          color: lighten($banco-dark-orange, 50%)

        &:last-child:after
          content: ""
