.fmt-dollars
  position: relative
  color: #111

  .symbol
    margin-right: 1px
    color: #555

  .sep
    color: #444

  &.neg
    color: $red

    .symbol
      color: lighten($red, 15%)

    .sep
      color: lighten($red, 10%)

  &.pos
    color: $green

    .symbol
      color: lighten($green, 15%)

    .sep
      color: lighten($green, 10%)
