<header>
  <h1>Transfer Funds</h1>
</header>

{{#ui-form model=model action="submit"}}
  {{#ui-form-field for="payee"}}
    {{fast-select items=payees
      labelPath="label"
      valuePath="id"
      value=model.payee.id}}
  {{/ui-form-field}}
{{/ui-form}}
