<nav class="sidebar" role="navigation">
  <ul>
    <li {{bind-attr class="inOverview:active"}}>
      {{#link-to "index"}}Overview{{/link-to}}
    </li>
    <li {{bind-attr class="inAccounts:active"}}>
      {{#link-to "accounts"}}Accounts{{/link-to}}
    </li>
    <li {{bind-attr class="inTransfers:active"}}>
      {{#link-to "transfers"}}Transfers{{/link-to}}
    </li>
  </ul>
</nav>
